{% extends "layout.html" %}
{% block content %}
{% load static %}
<div class="px-3 py-5"> 
    <div class="search-bar-wrapper">
        <div class="container">
            <section class="row d-flex justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 col-xl-4">
                    <div class="search-bar position-relative">
                        <form method="GET" class="d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="search-icon feather feather-search">
                                <circle cx="11" cy="11" r="8"></circle>
                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                            </svg>
                            <input class="form-control search-input ps-5" type="search" name="search" placeholder="Search by pet breed..." aria-label="Search">
                            <button class="btn btn-search ms-2" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
   
    <div class="container">
        <header class="row mt-5">
            <div class="col mx-auto mb-3">
                <h2 class="h1 text-center oswald-headings" style="color: var(--dj-text-4)">List of Pets</h2>
                <hr />
            </div>
        </header>
        <article class="row pet-list-bg" style="background: linear-gradient(to bottom right, #e9d8a6, #94d2bd);">
            {% for pet in data.pets %}
            <section class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2 p-2" style="height: auto;">
                <div class="p-2 card align-items-center pt-4 h-100">
                    <a href="{% url 'pets.pet_detail_page' id=pet.id %}"><img src="{{ pet.image.url }}" class="rounded"></a>
                    <div class="card-body text-center w-100">
                        <a href="{% url 'pets.pet_detail_page' id=pet.id %}" class="btn w-100" style="background: var(--dj-bg-3);">
                            <b class="fs-4 fw-bold" style="color: var(--dj-text-4)">{{ pet.name }}</b><br />
                            <i class="small text-muted fst-italic" style="color:var(--dj-text-3)">{{ pet.breed }}</i>
                        </a>
                    </div>
                    <footer class="d-flex justify-content-between align-items-center w-100 px-4">
                    <p><b class="badge rounded-pill bg-light text-dark small">£{{ pet.price }}</b></p>
                    <p>
                        <em style="color: var(--dj-text-3)">
                            <i class="fa-solid fa-child"></i>&nbsp;
                            {% if pet.is_kids_friendly %}
                                <i class="fa-solid fa-shield-dog"  style="color: #0a0"></i>
                            {% else %}
                                <i class="fa-solid fa-circle-exclamation" style="color: #a00"></i>
                            {% endif %}
                        </em>
                    </p>
                </footer>
                </div>
            </section>
            {% endfor %}
        </article>
    </div>
</div>
{% endblock content %}