{% extends "layout.html" %}
{% block content %}
{% load static %}
{% load cart_filters %}
<div class="p-3">
    <div class="container">
        <header class="row my-3">
            <div class="col mx-auto mb-3">                
                <h1 class="display-4 text-capitalize">your shopping cart</h1>
                <hr />
            </div>
        </header>
        <section class="row m-1">
           <table class="table table-bordered table-striped text-center align-middle">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pet in data.pets_in_cart %}
                    <tr>
                        <td>{{ pet.id }}</td>
                        <td>{{ pet.name }}</td>
                        <td>£{{ pet.price }}</td>
                        <td>{{ request.session.cart|get_quantity:pet.id }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">Your cart is empty.</td>
                    </tr>
                    {% endfor %}
                </tbody>
           </table> 
        </section>
        <section class="row mt-4 mb-5">
            <div class="text-center text-md-end">
                <a class="btn btn-dj-primary text-white me-5 mb-4 mb-md-0">
                    <b>Total to pay:</b> £{{ data.cart_total }}
                </a>
                {% if data.pets_in_cart|length > 0 %}
                <a href="{% url 'cart.clear' %}" class="btn btn-dj-loud">
                    <b>clear cart</b>
                </a>
                {% endif %}
                
            </div>
        </section>
    </div>
</div>
{% endblock content %}