{% extends "layout.html" %}
{% block content %}
{% load static %}
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <header class="hero-section__header">
                    <h1>Welcome to Petzy!</h1>
                    <p>The one stop pet store where you'll find the pup of your dreams.</p>
                </header>
                <a href="#" class="btn btn-dj-primary mt-3">Get a Pup</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
