{% extends "layout.html" %}
{% block content %}
<header class="py-5 mb-4" style="background-color: var(--dj-bg-3); border-bottom-color: var(--dj-bg-4); border-bottom-width: 0.195rem; border-bottom-style: solid;">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="oswald-headings" style="color: var(--dj-text-4);">Welcome to <b>Petzy</b> Blog!</h1>
            <p class="lead mb-0 text-dark text-capitalize">everything you need under one woof.</p>
        </div>
    </div>
</header>
<div class="container">
    <section class="mt-3 d-flex flex-column flex-lg-row justify-content-center">
        <!-- Featured blog post goes here... -->
        <!-- Nested row for non-featured blog posts-->
        <div class="col-lg-6 me-lg-5">
            {% for post in data.posts %}
            <div class="card mb-4">
                <div class="card-header fw-normal fst-italic">Published {{ post.publish }} by <b class="fw-bold">{{ post.author }}</></div>
                <div class="card-body">
                    <div class="small text-muted fw-light"> Created at {{ post.created }}</div>
                    <h2 class="card-title">
                        <a href="{% url 'blog:post_detail_page' post.id %}">{{ post.title }}</a>
                    </h2>
                    <p class="card-text py-0">{{ post.body|truncatewords:30|linebreaks }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="card text-bg-info mb-3">
            <div class="card-header">Petzy's Blog</div>
            <div class="card-body">
                <h5 class="card-title">This is a blog about pets</h5>
                <p class="card-text">Share any info you may have about you pet to help others become better pet owners.</p>
            </div>
        </div>
    </section>
</div>
{% endblock content %}
